{% extends 'base.html' %}

{% block content %}
<form method="post" class="buttons" style="margin-top: 20%; width: 500px;">
    <h3 class="fw-bold text-danger">Enter The Chat Room</h3>
    <div>
        <label class="text-danger">Name:</label>
        <input type="text" placeholder="Pick a Name!" name="name" value="{{name}}" />
    </div>
    <div class="join">
        <input type="text" placeholder="room code" name="code" value="{{code}}" style="margin-left: 130px;"/>
        <button type="submit" name="join" class="btn btn-warning ms-2">Join a Room</button>
    </div>
    <button type="submit" name="create" class="create-btn btn btn-danger mt-3">Create a Room</button>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</form>

{% endblock content %}